<div class="clearfix">
    <div class="col mr2">
        <img src="\{{icon}}" class="icon lg">
    </div>
    <div class="col">
        <p class="h1 mt2 mb0">\{{temp}}&deg;C</p>
        <p class="h4 mt1">\{{weather}}</p>
    </div>
</div>
<p class="mb1"><b>Now:</b> \{{forecastToday}}</p>
<p class="mt0 h5">Later: \{{forecastTonight}}</p>